<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="../css/main.css" rel="stylesheet">
</head>

<body>
<div class="popup popup3" style="display: block">
  <div class="mask"></div>
  <div class="motion radius">
    <div class="unit">
      <div class="unit-title">
        <h2 class="target-name title-h2">请选择</h2>
        <div class=" back close-unit"> </div>
      </div>
      <div class="unit-table">
        <input type="hidden" class="multiple-type">
        <table width="" border="1" bordercolor="#f08300" cellspacing="0" cellpadding="0">
          <tbody>
            <tr style="height: 40px;">
              <td><div class="nav-tab text-center">
                  <input type="text" name="search" id="search-input">
                </div></td>
              <td><button type="button" class="u-btn magin0" id="search-button">搜索</button></td>
              <td></td>
            </tr>
            <tr>
              <td><div class="unit-nav selecter-content">
                  <div class="nav-tab">
                    <h2>按组委<i class="icon icon-chevron-right"></i></h2>
                    <ul>
                      <li class="li-1 clearfix">
                        <button class="btn-1 main-candidate-btn li-btn-all b-fir" type="button">+</button>
                        <input class="checkbox candidate super li-btn-all" type="checkbox" name="checkbox-lv1"
                                               value="778">
                        <button class="btn-2 li-btn-all b-sec" type="button"></button>
                        <span class="span-1 candidate-name">农业农村组联络委农业农村组联络委农业农村组联络委农业农村组联络委农业农村组联络委</span></li>
                      <li class="li-2">
                        <ul>
                          <li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li>
                          <li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="nav-tab">
                    <h2>按组委<i class="icon icon-chevron-right"></i></h2>
                    <ul>
                      <li class="li-1 clearfix">
                        <button class="btn-1 main-candidate-btn li-btn-all b-fir" type="button">+</button>
                        <input class="checkbox candidate super li-btn-all" type="checkbox" name="checkbox-lv1"
                                               value="778">
                        <button class="btn-2 li-btn-all b-sec" type="button"></button>
                        <span class="span-1 candidate-name">农业农村组联络委</span></li>
                      <li class="li-2">
                        <ul>
                          <li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li>
                          <li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li>
                        </ul>
                      </li>
                    </ul>
                    <ul>
                      <li class="li-1 clearfix">
                        <button class="btn-1 main-candidate-btn li-btn-all b-fir" type="button">+</button>
                        <input class="checkbox candidate super li-btn-all" type="checkbox" name="checkbox-lv1"
                                               value="778">
                        <button class="btn-2 li-btn-all b-sec" type="button"></button>
                        <span class="span-1 candidate-name">农业农村组联络委</span></li>
                      <li class="li-2">
                        <ul>
                          <li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li>
                            <li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li><li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li><li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li><li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li><li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li><li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li><li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li><li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li><li class="li-lv2 main-candidate clearfix">
                            <button class="btn-lv2-1 li-btn-all b-thi" type="button"></button>
                            <input class="checkbox candidate sub li-btn-all" type="checkbox"
                                                       name="checkbox-lv2"
                                                       value="23">
                            <button class="btn-lv2-2 li-btn-all b-sec" type="button"></button>
                            <span class="span-1 candidate-name">毛玲洁</span></li>
                         
                          
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div></td>
              <td><button type="button" class="u-btn target-choose">--></button>
                <button type="button" class="u-btn chosen-delete"><--</button>
                <button type="button" class="u-btn chosen-confirm">确认</button></td>
              <td style="vertical-align: inherit;"><div class="unit-nav">
                  <ul class="target-chosen-ul">
                  </ul>
                </div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../js/jquery.min.js"></script> 
<script type="text/javascript" src="../js/zx.js"></script> 
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>
